.DS_Store
node_modules/
unpackage/
dist/
# local env files
.env.local
.env.*.local
.hbuilderx

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.project
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
tsconfig.*.lint.json
uniCloud-aliyun/cloudfunctions/common/uni-config-center/*
# 屏蔽所有云函数的本地开发测试json
uniCloud-aliyun/cloudfunctions/*/*.param.json
